body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}


.img-round{
    height: 300px;
    width: 298px;
    border-radius: 250px;
}

.img-rect{
    height: 300px;
    width: 450px;
    border-radius: 250px;
}

  .container{
            
        
            max-width: 850;
            margin: 0 auto;
            color: #333232;
            font-family: "sans-serif";
            padding-left: 10;
            padding-right: 10;
        }   

